*{margin: 0;
padding: 0;
}

.logozinha{
    background-image: linear-gradient(black, purple);
    display: flex;
    justify-content: space-around;
}
.lista-logozinha{
color: white;
font-size: 23px;

}
.lista-item{
display: inline-block;
color: white;

}
.first-part{
    color: black;
background-color: slateblue;
padding: 15px;

}
.first-part{
    background-image: linear-gradient(purple, black);
    height: 500px;
    padding: 100px;
    color: white;
}
.primeiro-paragrafo{
    padding: 15px;
}
.segundo-paragrafo{
    padding: 15px;
}

