*{margin: 0;
padding: 0;
}

.logozinha{
    background-color: #424E61;
    display: flex;
    justify-content: space-around;
}
.lista-logozinha{
color: white;
font-size: 23px;

}
.lista-item{
display: inline-block;
color:purple

}